@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600&display=swap&subset=latin-ext');

$borderColor: #676767;
$themeGreen: #21b7015c;
$themeBlue: #0025ff8f;
$themeBlueLighter: #93d2e491;
$spinkit-size: 4em !default;
$spinkit-spinner-color: #337ab7 !default;
$ff: 'Prompt', sans-serif;


.getUsersButton {
  display: flex;
  background-color: #444c5a9e;
  flex-grow: 1;
  box-shadow: inset 5px 5px 5px 0px #5a5a5a85;
  height: 85px;
  color: white;
  font-size: x-large;
  font-family: "Raleway", sans-serif;
  outline: transparent;
  border: none;
  justify-content: center;
  font-weight: 300;
}

%for-buttons {
  display: flex;
  padding: 0.5em 1.5em;
  font-size: x-large;
  margin: 1em;
  font-weight: 200;
  border-radius: 2px;
  //transition: 0.1s;
  //background-color: #5264AE;
}

%for-hover:hover {
  filter: invert(1);
}

%for-disabledButton:disabled {
  //font-size: 0;
  border: none;

}

.userWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
  font-family: $ff;

  .userItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5em;
    background-color: $themeBlueLighter;
  }

  .avaAndUserInfo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 1;

    .userAvaWrapper {
      display: contents;
      width: 156px;
      height: 156px;
      font-size: larger;

      .userAvaImg {
        display: flex;
        margin: 1em;
        border-radius: 50%;
        width: 168px;
        height: 168px;
      }
    }


    .userInfo {
      display: flex;
      flex-direction: column;
      padding: 1em;
      font-family: 'Quicksand', sans-serif;

      .nickName {
        display: flex;
        font-size: 2em;
        margin: 1em auto;
        padding-bottom: 0.5em;
        border-bottom: 1px solid;
        text-transform: capitalize;
      }

      .location > * {
        display: flex;
        flex-direction: column;
        font-size: 0.7em;

        border-color: $borderColor;
      }

      .status {
        border-color: $borderColor;
        font-size: 0.9em;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;


    .followButtonWrapper {
      display: flex;
      width: 200px;
      justify-content: center;
      button {

        @extend %for-buttons, %for-disabledButton;
      }
    }
  }
}