/// USERS_CSS

$borderColor: #676767;
$themeGreen: #21b7015c;
$themeBlue: #0025ff8f;
$themeBlueLighter: #93d2e491;
$spinkit-size: 4em !default;
$spinkit-spinner-color: #337ab7 !default;
a {
  text-decoration: none;
}
.getUsersButton {
  display: flex;
  background-color: #444c5a9e;
  flex-grow: 1;
  box-shadow: inset 5px 5px 5px 0px #5a5a5a85;
  height: 85px;
  color: white;
  font-size: x-large;
  font-family: "Raleway", sans-serif;
  outline: transparent;
  border: none;
  justify-content: center;
  font-weight: 300;
}

%for-buttons {
  display: flex;
  border: none;
  background-color: beige;
  padding: 1em 2em;
  font-size: large;
  margin: 1em;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 gray;
  transition: .2s;
  cursor: pointer;

}

%for-hover:hover {
  filter: invert(1);
}
%for-disabledButton:disabled {
  font-size: 0;

}
//%for-disabledButton:disabled:before {
//
//}
.userWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
  //border: 1px solid;
  .pagesBlock {
    display: flex;
    margin-top: 1em;

    span.pagesWrapper {
      display: flex;
      flex-direction: row;
      /* box-shadow: 0 0 3px 0 #80808070; */
      flex-wrap: wrap;
      border: none;
      /* border-radius: 10px; */
      margin: 1em;
      justify-content: center;
      padding: 0.1em;
      overflow: hidden;
      height: 42px;

      a {
        display: flex;
        margin: 0 0.3em;
        padding: 0.4em 0.7em;
        //border-radius: 50%;
        text-decoration: none;
        color: #4d4d4d;
      }

      .selectedPage {
        background-color: gray;
        color: white;
        text-decoration: none;
        border: 1px solid gray;
      }

      .selectedPage:hover {
        text-decoration: none;
        cursor: default;
      }
    }

    .pagesWrapper > a:hover {
      cursor: pointer;
      border-bottom: 1px solid gray;
    }
  }


  .userItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //flex-grow: 1;
    padding: 1em;
    margin: 0.5em;
    background-color: $themeBlueLighter;

    //flex-direction: column;
  }

  .avaAndUserInfo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .userAva {
      margin: 1em;
      width: 156px;
      border-radius: 50%;
    }

    .userAvaPlaceholder {
      display: flex;
      width: 150px;
      height: 150px;
      margin: 1em;
      //padding: 1em;
      border: 3px solid;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
    }

    .userInfo {
      display: flex;
      flex-direction: column;

      .nickName {
        display: flex;
        font-size: 2em;
        margin: 0 auto;
        border: none;
      }

      .location > * {
        display: flex;
        flex-direction: column;
        font-size: 0.7em;

        border-color: $borderColor;
      }

      .status {
        border-color: $borderColor;
        font-size: 0.9em;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;

    .followButtonWrapper {
      display: flex;

      button {
        @extend %for-buttons, %for-hover, %for-disabledButton;
      }
    }
  }
}
