.my_posts {
  //display: flex;
  //flex-direction: column;
  //align-content: center;
  //align-self: center;
  //padding: 0 2em;

  h3 {
    margin: 1em;
  }

  .post_add {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
    .formBlock {
      display: flex;
      align-items: center;
      width: 500px;
      flex-grow: 1;
      div {
        display: flex;
        width: 500px;

        .postInputArea {
          display: flex;
          width: 500px;
          label {
            font-size: 2em;
            width: 500px;

          }
          div{
            width: 500px;

            input {
              width: 500px;

            }
          }

        }
      }


    }
    .sendPostButton {
      border: none;
      /* border-radius: 50px; */
      width: 107px;
      background-color: #444c5a;
      /* margin: 0 0.5em; */
      color: white;
      height: 129px;
      align-self: center;
      outline: transparent;
      font-family: inherit;
      font-size: larger;
      cursor: pointer;
      font-weight: 700;
      text-decoration: underline;

    }
  }
}






