.my_posts {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-content: center;
    align-self: center;
}

.post_add {
    display: flex;
    flex-direction: row;
}

.post_add textarea {
    height: 100px;
    border: none;
    border-radius: 15px;
    padding: 0.5em;
    margin: 0.5em;
    outline: none;
    width: 60%;
    height: 60px;
}

.post_add input {
    border: none;
    border-radius: 10px;
    width: 150px;
    background-color: aliceblue;
    margin: 0.5em;
    height: 38px;
}

h3 {
    margin: 1em;
}