.headerBar {
  display: inline-flex;
  grid-area: h;
  justify-content: flex-end;
  padding: 0;
  background-color: #282c34;
  position: sticky;
  top: 0;
  z-index: 100;
  .headerBackground{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: #282c34;
    img {
      width: 180px;
    }

    .loginBlock {
      display: flex;

      .loggedInHeaderBlock {
        display: flex;
        flex-direction: row-reverse;
        color: whitesmoke;
        background-color: #444c5a;
        align-self: center;
        align-items: center;
        width: 500px;
        justify-content: space-between;
        padding: 1em;
        font-size: 0.9em;
        font-family: "Prompt", sans-serif;

        .logOutButton{
          display: flex;
          padding: 0.5em 1.5em;
          margin: 0.5em;
          font-size: 1em;
          /* background: #00000040; */
          color: #89a4b1c7;
          border-radius: 0;
          border: 2px solid;
          font-weight: 700;
          //text-decoration: underline;
          font-family: "Prompt", sans-serif;
        }
        .mailToLink {
          color: inherit;
        }

        .myLogin {
          margin-block-start: 0;

        }
      }

      .notLoggedIn {
        display: flex;
        text-transform: uppercase;
        align-self: center;
        color: whitesmoke;
        background-color: #4d4d4d;
        padding: 1em;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }

}

