aside {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  font-size: 1.2em;
  align-self: baseline;
  height: 100%;

  menu {
    background-color: #444c5a;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    position: sticky;
    //top: 100px;

    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      list-style: none;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 0;
      padding: 3em 0;

      li.item {
        display: flex;
        width: 100%;
        color: white;
        cursor: pointer;

        &:last-child {
          margin-top: 4em;
        }

        a {
          display: flex;
          font-weight: 200;

          color: inherit;
          width: 100%;
          padding: 1em;
          justify-content: center;
          text-decoration: none;
          transition-duration: .3s;

          &.active {
            background-color: #90c3d2!important;
            text-decoration: none;
            color: black;
          }

          &:hover {
              background-color: rgba(126,155,168,0.37);
          }
        }

      }
    }
  }
}










