
.message {
    display: flex;
    padding: 1em;
    margin: 0.5em;
    justify-content: space-between;
    width: 350px;
    align-items: center;
    flex-wrap: wrap;
    background-color: #93d2e4;
    border-radius: 15px;
    
    border: 1px solid #ffffff36;
    box-shadow: -3px 3px 11px -10px black;
}
.message:nth-child(1){
    align-self: flex-end;
    box-shadow: 0px 3px 11px -10px black;
    

}

.message:nth-child(3){
    align-self: flex-end;
    box-shadow: 0px 3px 11px -10px black;
}

.message:nth-child(5){
    align-self: flex-end;
    box-shadow: 0px 3px 11px -10px black;
}

.time {
    display: flex;
    font-size: 0.9em;
    width: fit-content;
    justify-self: flex-end;
    border-radius: 5px;
    align-self: flex-end;
    font-family: monospace;
    color: gray;
    padding: 3px;
    
    /* margin-left: 4em; */
    background-color: rgba(236, 236, 236, 0.47);
    
}
