.statusSpan{
  font-family: 'Prompt', sans-serif;
  font-size: 1.2em;
  display: flex;
  padding: 0.5em;
  white-space: pre-wrap;
  flex-direction: column;
  flex-wrap: wrap;
  //max-width: 350px;
  border-bottom: 1px solid grey;
}